/* Change background of New Tab */
@-moz-document url("about:home"), url("about:newtab") {
    body {
     background: rgb(47, 41, 37) !important;
    }
    }

:root {
    --theme-body-background: rgb(47, 41, 37) !important;
    --theme-body-emphasized-background: var(--grey-70);
    --theme-body-alternate-emphasized-background: #353b48;
    --theme-sidebar-background: #1f1b18 !important;
    --theme-tab-toolbar-background: var(--grey-90);
    --theme-toolbar-background: #1f1b18 !important;
    --theme-toolbar-color: var(--grey-40);
    --theme-toolbar-selected-color: white;
    --theme-toolbar-highlighted-color: var(--green-50);
    --theme-toolbar-background-hover: rgb(47, 41, 37) !important;
    --theme-toolbar-background-alt: var(--grey-85);
    --theme-toolbar-background-highlighted: var(--blue-60);
    --theme-toolbar-error-background: var(--red-70);
    --theme-toolbar-hover: rgb(47, 41, 37) !important;
    --theme-toolbar-hover-active: #252526;
    --theme-toolbar-separator: var(--grey-10-a20);
    --toolbarbutton-background: var(--grey-70);
    --toolbarbutton-hover-background: var(--grey-70);
    --toolbarbutton-focus-background: var(--grey-60);
    --toolbarbutton-focus-color: var(--grey-30);
    --toolbarbutton-checked-background: #204e8a;
    --toolbarbutton-checked-focus-background: var(--blue-60);
    --toolbarbutton-checked-color: #ffffff;
    --theme-button-background: rgba(249, 249, 250, 0.1);
    --theme-button-active-background: rgba(249, 249, 250, 0.15);
    --theme-accordion-header-background: rgb(47, 41, 37) !important;
    --theme-accordion-header-hover: #2a2a2e;
    --theme-selection-background: #204e8a;
    --theme-selection-background-hover: #353b48;
    --theme-selection-focus-background: var(--grey-60);
    --theme-selection-color: #ffffff;
    --theme-splitter-color: var(--grey-70);
    --theme-emphasized-splitter-color: var(--grey-60);
    --theme-emphasized-splitter-color-hover: var(--grey-50);
    --theme-icon-color: rgba(249, 249, 250, 0.7);
    --theme-icon-dimmed-color: rgba(147, 147, 149, 0.9);
    --theme-icon-checked-color: var(--blue-30);
    --theme-icon-error-color: var(--red-40);
    --theme-icon-warning-color: var(--yellow-60);
    --theme-comment: var(--grey-45);
    --theme-body-color: var(--grey-40);
    --theme-link-color: #75bfff;
    --theme-text-color-alt: var(--grey-45);
    --theme-text-color-inactive: var(--grey-50);
    --theme-text-color-error: var(--grey-10);
    --theme-text-color-strong: var(--grey-30);
    --theme-stack-trace-text: var(--red-20);
    --theme-highlight-green: #86de74;
    --theme-highlight-blue: #75bfff;
    --theme-highlight-purple: #f2ac23 !important;
    --theme-highlight-red: #ea861a !important;
    --theme-highlight-yellow: #fff89e;
    --theme-highlight-bluegrey: #5e88b0;
    --theme-highlight-lightorange: #d99b28;
    --theme-highlight-orange: #d96629;
    --theme-highlight-pink: #df80ff;
    --theme-highlight-gray: #e9f4fe;
    --theme-graphs-purple: #df80ff;
    --theme-graphs-yellow: #d99b28;
    --theme-graphs-orange: #d96629;
    --theme-graphs-grey: #757873;
    --theme-graphs-full-red: #f00;
    --theme-popup-background: var(--grey-60);
    --theme-popup-color: rgb(249, 249, 250);
    --theme-popup-border-color: #27272b;
    --theme-popup-dimmed: rgba(249, 249, 250, 0.1);
    --theme-toolbarbutton-background: none;
    --theme-toolbarbutton-color: var(--grey-40);
    --theme-toolbarbutton-hover-background: var(--grey-10-a15);
    --theme-toolbarbutton-checked-background: var(--grey-10-a20);
    --theme-toolbarbutton-checked-color: var(--grey-30);
    --theme-toolbarbutton-checked-hover-background: var(--grey-10-a25);
    --theme-toolbarbutton-checked-hover-color: var(--grey-30);
    --theme-toolbarbutton-active-background: var(--grey-10-a30);
    --theme-toolbarbutton-active-color: var(--grey-30);
    --theme-select-background: var(--grey-60);
    --theme-select-color: #fff;
    --theme-select-hover-border-color: var(--grey-50);
    --theme-warning-background: hsl(42, 37%, 19%);
    --theme-warning-border: hsl(60, 30%, 26%);
    --theme-warning-color: hsl(43, 94%, 81%);
    --theme-contrast-background: #4f4b1f;
    --theme-contrast-background-alpha: rgba(255, 233, 0, 0.15);
    --theme-contrast-color: white;
    --theme-contrast-border: var(--yellow-65);

    --in-content-page-background: rgb(47, 41, 37) !important;
    --in-content-page-color: rgb(251,251,254);
    --in-content-box-background-odd: rgba(249,249,250,0.05);
    --in-content-box-info-background: rgba(249,249,250,0.15);
    --in-content-border-color: rgba(249,249,250,0.2);
    --in-content-border-hover: rgba(249,249,250,0.3);
    --in-content-border-invalid: rgb(255,132,139);
    --in-content-warning-icon-color: #ffbd4f;
    --in-content-success-icon-color: #54FFBD;
    --in-content-icon-color: rgb(251,251,254);
    --in-content-primary-button-text-color: rgb(43,42,51);
    --in-content-primary-button-background: rgb(226, 225, 224) !important;
    --in-content-primary-button-background-hover: rgb(226, 225, 224) !important;
    --in-content-primary-button-background-active: #cbcbca !important;
    --in-content-danger-button-background: #ff848b;
    --in-content-danger-button-background-hover: #ffbdc5;
    --in-content-danger-button-background-active: #ffdfe7;
    --in-content-table-background: #26211d !important;
    --card-outline-color: var(--grey-60);
    --dialog-warning-text-color: var(--red-40);
    scrollbar-color: rgba(249,249,250,.4) rgba(20,20,25,.3);
    --in-content-box-border-color: rgb(63, 55, 49) !important;
    --in-content-focus-outline-color: rgb(251, 231, 209) !important;
}